@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">GitHub Emojis</h1>
</div>

<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));">
    @foreach(var em in Model.Emojis)
    {
        <div>
            <img src="@em.Url" alt="Emoji - @em.Key" />
            <code>@em.Key</code>
        </div>
    }
</div>
